


*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "italic";
    src: url(font/Inter-Italic.woff2);
}
@font-face {
    font-family: "semi-italic";
    src: url(font/Inter-SemiBoldItalic.woff2);
}
@font-face {
    font-family: "bold-italic";
    src: url(font/Inter-SemiBold.woff2);
}
@font-face {
    font-family: "regular";
    src: url(font/Inter-Regular.woff2);
}
body{
    font-family: Inter,-apple-system,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
 
}


#flipname{
    width: 75px;
    height: 20px;
        background-color: #2874f0;
}
.left{
    display: flex;
    height: 56px;
    background-color: #2874f0;
    align-items: center;
justify-content: center;
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 999;

}
.threeimg {
display: flex;
flex-direction: column;
padding-right: 10px;
}
#plus{
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px
}
#left{
    width: 10px;
    height: 10px;
}
.toggle{
    display: flex;
    align-items: center;
   column-gap: 4px;
   font-size: 11px;
   font-style: italic;

}
#explore{
color: rgb(240, 240, 240);
}
#search{
    
    height: 20px;
    width: 20px;
    right: 0;
 }
.mobile{
   
    position: relative;
    width: 100%;
    left: 0;
    height: 36px;
    border: none;
}
.search{
  padding-right: 15px;
  padding-top: 5px;
}
.input{
    display: flex;
    height: 36px;
    align-items: center;
    background-color: #ffff;
    width: 34.7%;
}
.mobile{
    height: 20px;
    background-color: #ffff;
        padding-left: 10px;
        border:none;
}
.right{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding-left: 30px;
}
.right div:first-child{
    display: flex;
    padding:0 44.4px;
    height: 31px;
    /* justify-content: center; */
    align-items: center;
    background: #fff;
    
}
.login{
    box-sizing: border-box;
color: rgb(40, 116, 240);
cursor: pointer;
font-family: 'bold-italic';
font-size: 16px;
font-weight: 500;

letter-spacing: 0.1px
}
.right div:nth-child(2){
    display: flex;
   align-items: center;
    color: #ffff; 
}
.seller{
    box-sizing: border-box;
color: rgb(255, 255, 255);
font-family: "bold-italic";
font-size: 16px;
font-weight: 500;
letter-spacing: 0.1px;
line-height: 20px
}
.right div:nth-child(3){
    display: flex;
   align-items: center;
    color: #ffff; 
}
.more{
    box-sizing: border-box;
color: rgb(255, 255, 255);
font-family: "bold-italic";
font-size: 16px;
font-weight: 500;
letter-spacing: 0.1px;
line-height: 20px
}
.cartbox{
    display: flex;
    align-items: center;
}
#cart-img{
    width: 16px ;
    height: 16px;
    margin: 0 8px;
}
.cart{
    box-sizing: border-box;
color: rgb(255, 255, 255);
font-family:"bold-italic";
font-size: 16px;
font-weight: 500;
letter-spacing: 0.1px;
}
#check{
    display: flex;
    justify-content: center;
    column-gap: 46px;
    list-style:none;
   
}
.check{
    margin-top: 56px;
    list-style: none;
    padding:  8px 15px;
    border: 2px solid #e5e7e9;
    background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
  
}

.main-left{
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06); 
    display: block;
    width: 22%;
}
.main{
    display: flex;
    background-color: #f1f3f6;

}
.nav-item img{ 
transform: rotate(-90deg);
}
.range-top{
    position: relative;
    bottom: -6px;
    height: 23px;
    /* height: 100%; */
    width: 238px;
    background-color: #e0e0e0;
}
.round{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #bababa;
background-color: #fff;
}
.round-btn{
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -1px;
    transition: translate .5s ease-out;
}
.mid-range{
    width: 100%;
    top: 2px;
    position: relative;
}
.mid-line{
    width: 100%;
    height: 6px;
    background-color: #2874f0;
    transform-origin: left center;
    top: 55px;
}
#right-range{
    right: 0;
    position: absolute;
}
.range{
    position: relative;
    height: 13px;
    top: 4.5px;
    width: 238px;
    
}
#right-range>div {
    right: -6px;
    position: absolute;

}
#left-range>div {
    /* left: -7px; */
    position: absolute;
}
.min-max{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-top: 20px;
}
.checkbox-item label{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.search-div{
    display: flex;
    align-items: center;
    gap: 4px;
 
}
.brand-count .search-div img{
    width: 12px;
    height: 20px;
}
.brand-input{
    padding: 1px;
    border: none;
}
.branded img {
    transform: rotate(-90deg);
}
.container{
    display: flex;
    flex-direction: column;
}
.max select{
border: 1px solid #e0e0e0;
border-radius: 1px;
background-color: #fff;
/* width: 100%; */
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2px;
width: 108px;

}
.min select{
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background-color: #fff;
    width: 99px;
    padding: 2px;
}
.main-left{
    background-color: #fff;
    margin: 5px;
    margin-left: 8px;
    max-width: 270px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 18px;
    margin-top: 3px;
}
.branded{
    margin-top: 10px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand img{
    width: 11px;
    height: 11px;
    /* transform: rotate(-90deg); */
}
.rolex{
    color: #2874f0;
    font-size: 13px;
}
.brand{
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
}
.checkbox-item{
    display: flex;
    padding: 3px;
}
.filter{
    /* padding: 13px; */
    padding-left: 0;
    padding-top: 0;
    font-size: 18px;
    text-transform: capitalize;
    /* width: 67%; */
    font-family: "bold-italic";
    font-weight: 500;
    letter-spacing: .3px;
    color: rgba(33,33,33);
    
}
.filter{
    width: 100%;
border-bottom: 1px solid #e0e0e0;
}

.txt span{
  font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #141414;
}
.catogory-Txt1{
    padding: 8px 0;
    color: #878787;;
    white-space: nowrap;
    font-weight: 400;
    font-family: "regular";
}
.rip{
    display: block;
    padding-left: 13px;
    margin-bottom: 5px;
       white-space: nowrap;
      
}
.price-range{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.toTxt{
    display: none;
}
.min-max{
    display: flex;
    justify-content: space-between;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;

}
.nav-item img{
    width: 4.7px;
    height: 8px;
}
.nav-item span{
    font-size: 12px;
    color: #000;
    font-weight: 500;
    font-family: "bold-italic";
}
.search-content{
    border-bottom: 2px solid #e0e0e0;
    height: 20px;
}
.flip-img img{
    width: 77px;
    height: 22px;
}

.flipImgContent{
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 8px;
    margin: 20px 0;

}
.flip-span{
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
}
.sec-head span{
        font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: "regular";
    margin: 0;
    padding: 16px 0;
}
.checkDiv{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
label{
   padding: 3px 0; 
}
.footer-padding{
    display: flex;
    flex-direction: column;
    background-color: #172337;
}
.toper-padding{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    max-width: 1250px;
  padding: 20px;
 justify-content: center;
 margin: auto 100px;
 margin-right: 0;
  padding-top: 10px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    max-height: 500px;
}
.footer-grid ul{
list-style: none;
}
.footer-down{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down-padding{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 67px;
    
    border-top: 1px solid #454d5e;
    
}
footer{
    padding-top: 25px;
}
.footer-grid{
    color: #fff;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    font-family: "regular";

}
.grid-head{
display: block;
color: #878787;
    font-size: 12px;
    font-weight: 400
}
.down-item span{
color: #fff;
}
.grid-padding ul li{
    line-height: 1.4;
  }
  .top-content{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }
  /* .footer-grid li{
    width: 200px;
    line-height: 40px;
  } */
  .top-item img{
    transform: rotate(180deg);
    width: 20px;
    height: 7px;
 }
 .top-item span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
    font-size: 11px;
    font-family: "regular";
  
    line-height: 16.8px;
    cursor: pointer;
    color: #a6a6a6;
 }
 .main-right{
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    margin: 5px;
    padding: 15px;
     }
     .top-middle span{
        font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    display: inline-block;
    color: #212121;
    line-height: 1.4;
    font-family: "bold-italic";
     }
     .head-btn li{
        list-style: none;
            }
            .head-btn{
                display: flex;
                max-width: 580px;
                text-align: left;
                align-items: left;
                justify-content: left;
                justify-content: space-between;
                padding: 8px 0 4px;
                padding-left: 0;
               color: rgb(71, 70, 70); 
              font-size: 14px;
    cursor: pointer;
font-family: "bold-italic";
              
            }

.head-btn ul{
    display: none;
}
.phone-img{
    width: 200px;
    height: 200px;
}
.phone-img img{
    width: 76%;
    height: 100%;
}
.card-left{
    max-width: 200px;
}
.card-right{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    column-gap: 20%;
}
.right-first{
        display: flex;
    flex-flow: column;
    max-width:520px;
}
.flipkart-img img{
    width: 77px;
    height: 21px;
}
.card{
    display: flex;
    width: 90%;
    position: relative;
   
}
.card-padding{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.right-end{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  
}
.right-first ul{
    list-style: none;
    
}
.right-first ul ::before{
     content: "•";
    color: rgb(194, 194, 194);
    padding-right: 8px;
    display: table-ce

}
.main-top{
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    margin-bottom: 20px;
}
.rate-btn span{
    background-color: green;
}
.rate-btn img{
    width: 1px;
}